# ***Basic Introduction to Python***

#Python
Python is a powerful, easy-to-learn programming language widely used in web development, automation, data analysis, machine learning, and more. Its simple syntax and large ecosystem of libraries like Pandas, NumPy, Scikit-learn, TensorFlow, and PyTorch make it a favorite in the fields of **data science**, **machine learning**, and **AI**.

---


#Data Analysis
Data Analysis is the process of inspecting, cleaning, and interpreting data to find useful information and support decision-making.  
**Goal:** Discover insights and trends from raw data.  
**Tools:** Excel, Python (Pandas, Matplotlib), SQL.  
**Key Task:** Summarize past data (e.g., sales trends, customer behavior).

---

#Data Science
Data Science is a broader field that includes **data analysis** but also involves using statistical methods, machine learning, and programming to build predictive models and drive strategic decisions.  
**Goal:** Gain deeper insights and make predictions using data.  
**Tools:** Python, R, SQL, machine learning libraries.  
**Key Task:** Predict future trends, build models, and tell data stories.

---

#Data Engineering
Data Engineering focuses on building the systems and infrastructure needed to collect, store, and process large volumes of data efficiently.  
**Goal:** Make data accessible and usable for analysts and data scientists.  
**Tools:** SQL, Python, Spark, Hadoop, ETL tools, cloud platforms.  
**Key Task:** Build data pipelines and manage big data systems.


#Machine Learning (ML)
Machine Learning is a subfield of AI where computers learn patterns from data and improve performance over time without being explicitly programmed.  
**Goal:** Make systems that can learn and make predictions from data.  
**Examples:** Spam filters, recommendation systems, fraud detection.  
**Tools:** Scikit-learn, TensorFlow, PyTorch.

---

### **Deep Learning**
Deep Learning is a specialized form of machine learning that uses **neural networks** with multiple layers (like the human brain) to learn from data.  
**Goal:** Handle very complex tasks like image recognition, speech, and natural language understanding.  
**Tools:** TensorFlow, Keras, PyTorch.  
**Examples:** Facial recognition, self-driving cars, chatbots.

---

### **Artificial Intelligence (AI)**
AI is the broadest concept, referring to machines that can simulate human intelligence. This includes problem-solving, learning, reasoning, and understanding language.  
**Goal:** Build smart systems that can perform human-like tasks.  
**Subfields:** Machine learning, deep learning, computer vision, natural language processing.  
**Examples:** Siri, Alexa, Google Translate, autonomous drones.

---

### **How They Differ**

| Topic              | Focus                                       | Goal/Function                                   | Tools                            |
|--------------------|---------------------------------------------|--------------------------------------------------|----------------------------------|
| Python             | Programming language                        | Foundation for working in all related fields     | Python libraries like Pandas, NumPy, etc. |
| Data Analysis      | Analyzing and interpreting data             | Understand past data                             | Excel, Python (Pandas), SQL     |
| Data Science       | Insights and predictions using data         | Build models and insights from data              | Python, R, ML libraries         |
| Data Engineering   | Building data infrastructure                | Prepare and manage data pipelines                | SQL, Python, Spark, Hadoop      |
| Machine Learning   | Algorithms that learn from data             | Make predictions or decisions                    | Scikit-learn, TensorFlow        |
| Deep Learning      | Neural networks with many layers            | Handle very complex tasks (vision, speech)       | PyTorch, Keras, TensorFlow      |
| Artificial Intelligence | Smart machines simulating human behavior | Solve problems using intelligent systems         | Includes ML and DL techniques   |

---

Note: To run the code simlply press Shift + Enter key at once

In [ ]:
#printing HELLO World
print("Hello World")

Hello World

In [ ]:
#print integer and float numbers
print(7)
print(7.7)

7
7.7

In [ ]:
print("Hello",9,'abc',True)

Hello 9 abc True

In [ ]:
#seperating using /
print("Hello",9,'abc',True,sep='/')

Hello/9/abc/True

In [ ]:
#seperating two statements using '-' and printing them in same line
print("hello",end="-")
print("world")

hello-world

In [ ]:
#PRINT  2*10^3
print(2e3)

2000.0

In [ ]:
#boolean values
print(True)
print(False)

True
False

In [ ]:
#adding two complex numbers
a= 5+6j
b= 7-2j
print(a+b)

(12+4j)

In [ ]:
#list (use large bracket)
#you can add or remove element from a list(mutable)
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [ ]:
#to determine the data type
type(a)

list

In [ ]:
#tuple(use small brakcet)
#you cannot add or remove element from a tuple(immutable)
x=(1,2,3,4)
print(x)

(1, 2, 3, 4)

In [ ]:
type(x)

tuple

In [ ]:
#sets
# set is a data structure used to store unordered(no indexing) and are mutable
y={1,2,3,4,5}
print(y)

{1, 2, 3, 4, 5}

In [ ]:
type(y)

set

In [ ]:
#dictionary
#dictionary is a collection of key-value pair, each key has a value associated with it
my_dict= {'name':'Ichhit','age':23,'is_Student':True}
print(my_dict)

{'name': 'Ichhit', 'age': 23, 'is_Student': True}

In [ ]:
type(my_dict)

dict

In [ ]:
#adding two integers
a=5
b=6
print(a+b)

11

In [ ]:
#adding an integer and a float number
a=5
b=6.5
c=a+b
print(c)
type(c)

11.5

float

In [ ]:
#dynamic variables, in C and C++ we must declare the type of data to be stored in a variable, but in python it autonomically assigns the data type to the variable

In [ ]:
#using + sign to concatenate two strings
first_Name="Ichhit"
last_Name="Sapkota"
full_Name=first_Name+last_Name
print(full_Name)
print(first_Name+"  "+last_Name) # with space

IchhitSapkota
Ichhit  Sapkota

In [ ]:
#type conversion
# Implicit and Explicit

In [ ]:
#Implicit type conversion
a=5
c=5*1.0
print(c)
type(c)

5.0

float

In [ ]:
#explicit type conversion, convert 7.99 float to 7 integer
num=7.99
print(int(num))

7

In [ ]:
#input data from user
c=input()

abc

In [ ]:
user_Data= input("Enter your name")
print(user_Data)

Enter your nameIchhit Sapkota
Ichhit Sapkota

In [ ]:
print("Your name is \t"+user_Data)

Your name is 	Ichhit Sapkota

In [ ]:
print("Your number is\t"+input('Enter a number'))

Enter a number984412345
Your number is	984412345

In [ ]:
print(type(input('Enter a number')))

Enter a number12345
<class 'str'>

In [ ]:
print(type(input('Enter a number')))

Enter a numberabvcd
<class 'str'>

In [ ]:
#input is always in string data type, if we input two numbers to add we must convert them into int first
num1=input('Enter first number')
num2=input('Enter second number')
print(num1+num2)

Enter first number1
Enter second number2
12

In [ ]:
#here the result must be 3 but, since values of num1 and num2 are stored as string using + sign concatenates two numbers "1"+"2"="12"

In [ ]:
num1=int(input('Enter first number'))
num2=int(input('Enter second number'))
print(num1+num2)

Enter first number2
Enter second number3
5

In [ ]:
#using explicit type conversion we convert str to int and then perform calculation

In [ ]:
#adding int and str
print(4+'ichhit')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#here it shows error because we cannot perform operation on two different data types
print(str(100.2)+"\tIchhit")

100.2	Ichhit

In [ ]:
#in the above code we converted 100.2 which is a float number to string and then we concatenate two strings

Literals

In [ ]:
# Binary literals
a=0b101001

In [ ]:
#Decimal Literals
b=1002

In [ ]:
#Octal literals
c=0o07

In [ ]:
#hexadecimal literals
d=0x1e2

adding any two literals always gives value in decimal formal
here a is binary and b is decimal, so a+b gives the decimal equivalent number

In [ ]:
a+b

1043

In [ ]:
c+d

489

In [ ]:
#complex literal
x=2+3j
print(x)
print(x.real)
print(x.imag)
type(x)
type(x.imag)

(2+3j)
2.0
3.0

float

In [ ]:
#using "" '' and """    """, we can use all these quotation marks for string
print("Hello")
print('Hello')
print("""Hello""")

Hello
Hello
Hello

# ***Operators***

In [ ]:
#Arithmetic Operators
print(6-5)
print(6+5)
print(6*5)
print(6/5)
print(6//5)  #integer division(only displays the integer part of the quotient)
print(6%5)  # modulus operator(gives remainder)
print(6**5) #6^5

1
11
30
1.2
1
1
7776

In [ ]:
#Relational Operators
print(4>5)
print(4<5)
print(4==5)
print(4<=5)
print(4>=5)
print(4!=5) # not equals to

False
True
False
True
False
True

In [ ]:
#Logical Operators
print(1 or 0)
print(1 and 0)
print(not 1)
print(1 ^ 0) # xor

1
0
False
1

In [ ]:
#bitwise operator
print(2 & 3) # bit wise and

2

2 in decimal = 10 in binary \\
3 in decimal = 11 in binary \\
so 2 & 3 is anding each bit \\
1 & 1 = 1 \\
0 & 1 = 0 \\
so output is 10 which is equivalent to 2

In [ ]:
print(2 | 3) #bitwise or

3

In [ ]:
print (2 ^ 3) # bit wise xor operation, not 2 power 3

1

2 = 10 \\
3 = 11 \\
1 xor 1 = 0 \\
0 xor 1 = 1 \\
so 01 = 1

In [ ]:
print(~3) #not of 3
#3= 0011  and not of 0011 is 1100 and since the msb represent the sign bit and 1 means negative so its -4

-4

In [ ]:
#left shift
print(2<<3)
# here 2== 01 and shifting 01 to 4(0to3 index) digits left is 010000 which is equal to

16

In [ ]:
#right shift
print(32>>3)
# 32 == 100000 and right shift it 4 digits will result in 0000100

4

In [ ]:
#assignment operators
a=2
a+=2 #a=a+2
print(a)
a%=3 # a = a%2
print(a)

4
1

In [ ]:
#Membership operator

In [ ]:
print('K' in 'Kathmandu')

True

In [ ]:
print('B' in 'Kathmandu')

False

In [ ]:
print(1 in [1,2,3,4])

True

In [ ]:
print(5 in [1,2,3,4])

False

If-else program

In [ ]:
num = int(input("Enter a number\t"))
if (num %2 ==0):
    print("Even")
elif (num % 2 != 0):  #else if
    print("Odd")
else :
    print("Invalid")

Enter a number	56
Even

In [ ]:
email=input("Enter your email")
password=input("Enter your password")
if email=='ichhit@abc.com' and password == 'abc123':
  print("Welcome")
else:
  print("Invalid credentials")

Enter your emailabc@dec.com
Enter your passwordyhaha
Invalid credentials

In [ ]:
num1=float(input('Enter first number'))
num2=float(input('Enter second number'))
op= input("Enter operator")
if op=='+':
  print(num1+num2)
elif op=='-':
  print(num1-num2)
elif op=='*':
  print(num1*num2)
elif op=='/':
  print(num1/num2)
else:
  print("Invalid operator")

Enter first number12
Enter second number23
Enter operator-
-11.0

Mathematical Calculations

In [ ]:
import math

In [ ]:
math.sqrt(144)

12.0

In [ ]:
math.sin(90)

0.8939966636005579

In [ ]:
import keyword

In [ ]:
keyword.kwlist   # display all keywords of python

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
import random

In [ ]:
print(random.randint(1,100))  #generate a random integer between 1 to 100, changes every time you execute the program

22

In [ ]:
import datetime

In [ ]:
print(datetime.datetime.now())

2025-04-10 13:22:44.769751

Loops
1. While Loop
2. For loop

In [ ]:
#while loop
i=1
while i<10:
  print("I love Nepal")
  i+=1

I love Nepal
I love Nepal
I love Nepal
I love Nepal
I love Nepal
I love Nepal
I love Nepal
I love Nepal
I love Nepal

In [ ]:
#while loop with else
i=1
while i<10:
  print("I love Nepal")
  i+=1
else:
  print("I dont love Nepal anymore")

I love Nepal
I love Nepal
I love Nepal
I love Nepal
I love Nepal
I love Nepal
I love Nepal
I love Nepal
I love Nepal
I dont love Nepal anymore

In [ ]:
#For loop
for i in range(1,11):    #for(int i=1;i<11;i++)
  print("i love nepal  "+str(i)+"  times")

i love nepal  1  times
i love nepal  2  times
i love nepal  3  times
i love nepal  4  times
i love nepal  5  times
i love nepal  6  times
i love nepal  7  times
i love nepal  8  times
i love nepal  9  times
i love nepal  10  times

In [ ]:
for i in range(1,11,2):  #with increament of 2 for(i=1;i<11;i=i+2)
  print("Hi")

Hi
Hi
Hi
Hi
Hi

In [ ]:
for i in range (10,-9,-3):
  print(i)

10
7
4
1
-2
-5
-8