<a href="https://colab.research.google.com/github/ichhitsapkota143/Machine-Learning/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Function

In [1]:
L=[1,2,3,4]

In [6]:
print(len(L)) # lenghth of list

4

In [3]:
print(min(L)) #minimum element of the list

1

In [7]:
print(max(L)) #maximum element of the list

4

In [9]:
#sort the list in ascending or descending order
print(sorted(L,reverse=True)) #descending
print(sorted(L)) #ascending

[4, 3, 2, 1]
[1, 2, 3, 4]

In [14]:
M=[1,2,5,1,3,1,7,9]

In [17]:
print(M.count(1))  #count the number of elements in the list, here count of element 1 is 3

3

In [19]:
M.index(2) #gives the index of the list

1

In [24]:
M=[1,2,5,1,3,1,7,9] #reverses the content of the list(permanent list, changes the original list)
print(M)
M.reverse()
print(M)

[1, 2, 5, 1, 3, 1, 7, 9]
[9, 7, 1, 3, 1, 5, 2, 1]

In [25]:
#sort vs sorted
#sort is permanent, where as sorted is temporart
M=[1,2,5,1,3,1,7,9]
print(M)
print(sorted(M)) #temporary sorting, only sorted to print
print(M)
M.sort()#permanently changes the elements of M
print(M)

[1, 2, 5, 1, 3, 1, 7, 9]
[1, 1, 1, 2, 3, 5, 7, 9]
[1, 2, 5, 1, 3, 1, 7, 9]
[1, 1, 1, 2, 3, 5, 7, 9]

In [27]:
#copy
#address of M and M1 are different and copys the content of one list to another
M=[1,2,5,1,3,1,7,9]
print(id(M))
M1=M.copy()
print(M)
print(M1)
print(id(M1))

132345165548480
[1, 2, 5, 1, 3, 1, 7, 9]
[1, 2, 5, 1, 3, 1, 7, 9]
132345161683392

In [30]:
#Add 1 to 10 numbers to a list
L=[]
for i in range(1,11):
  L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
#alternatively add to list except 8 (List Comprehension)
L=[i for i in range(1,11) if i!=8]
print(L)

[1, 2, 3, 4, 5, 6, 7, 9, 10]

In [33]:
#newlist=[expression for item in iterable if condition=True]

In [43]:
#scalar multiplication on a vector
v=[2,3,4]
s=2
print(v*s) # repeats the number by 2 times

[2, 3, 4, 2, 3, 4]

In [38]:
#our output should be v=[4,6,8]
x=[]
for i in v:
  x.append(i*s)
print(x)

[4, 6, 8]

In [45]:
#alternatively
x=[s*i for i in v]
print(x)

[4, 6, 8]

In [47]:
#add to list all numbers divisible by 5 in the range 1 to 50
Lis=[i for i in range(1,50) if i%5==0]
print(Lis)

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [57]:
#find the languages which start with letter p
language=['java','python','php','c','javascript']
p1=[i for i in  language if i.startswith('p')]
print(p1)

['python', 'php']

In [60]:
#nested if with list comprehension
basket=['apple','guava','cherry','banana']
fruits=['apple','mango','watermelon','banana']
#add a new list from fruits and items if the fruit exists in basket and also starts with 'a'
newList=[i for i in fruits if i in basket if i.startswith('a')]
print(newList)

['apple']

In [63]:
#print a (3,3) matrix using list comprehension -> Nested List comprehension
matrix=[[i*j for i in range(1,4)]  for j in range(3,7)]
print(matrix)

[[3, 6, 9], [4, 8, 12], [5, 10, 15], [6, 12, 18]]

here i is the inner loop and j is outer loop \\
for(j=1;j<=3;j++){ \\
    for(i=1;i<=3;i++){ \\
      arr[i][j]=i*j; \\
} \\
}

In [65]:
#cartesian product
L1=[1,2,3,4]
L2=[5,6,7,8]
cartesian_product=[[i*j for i in L1]for j in L2]
print(cartesian_product)

[[5, 10, 15, 20], [6, 12, 18, 24], [7, 14, 21, 28], [8, 16, 24, 32]]

multiple each element of L1 by 5, then again multiply each element of L1 by 6 and so on by 7 and 8

In [67]:
#Traversing a list
#item wise
L=[1,2,3,4,5,6]
for i in L:
  print(i)

1
2
3
4
5
6

In [69]:
#index wise traversing
L=[1,2,3,4,5,6]
for i in range(len(L)):
  print(L[i])

1
2
3
4
5
6

In [72]:
#zip() function - forms a tuple combining first element of list1 with first element of list 2, second with second and so on
L1=[1,2,3,4]
L2=[-1,-2,-3,-4,-5]
print(list(zip(L1,L2)))
L3=[i*j for i,j in zip(L1,L2)]
print(L3)

[(1, -1), (2, -2), (3, -3), (4, -4)]
[-1, -4, -9, -16]

# **Tupple**
tuple is a similar to list, but is immutable i.e we cannot change the elements of tuples, that of list can be done

In [73]:
tup=(1,2,3,4,5)
print(tup)
print(type(tup))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [74]:
#single element of the tuple
t1=(1)
t2=('hello')
print(t1)
print(type(t1))
print(t2)
print(type(t2))

1
<class 'int'>
hello
<class 'str'>

In [75]:
t3=(1,'hello')
print(t3)
print(type(t3))

(1, 'hello')
<class 'tuple'>

In [77]:
t5=(1,2,(3,4),[5,6,7]) #list in tuple and tuple inside of a tuple
print(t5)

(1, 2, (3, 4), [5, 6, 7])

In [78]:
t6=tuple('My name is Ichhit')
print(t6)

('M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'I', 'c', 'h', 'h', 'i', 't')

In [79]:
t6[-1] #indexing

't'

In [81]:
t6[3:-3] #slicing

('n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'I', 'c', 'h')

In [83]:
#editing a tuple
Tup=(1,2,3,4)
#now we want to replace 1 with 100
Tup[0]=100
print(Tup)

TypeError: 'tuple' object does not support item assignment

In [84]:
#here as tuple are immutable, it cannot be edited like list

In [85]:
#inserting,deleting and editing a tupple is not possible

In [86]:
#arithmetic operation in tuple
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [87]:
print(t1*t2)  #just like list we cannot use * to multiply two tupples

TypeError: can't multiply sequence by non-int of type 'tuple'

In [89]:
print(t1*3) #repeating elements of t1 three times

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [91]:
#iteration
for i in t1:
  print("I love Nepal") #same as in list

I love Nepal
I love Nepal
I love Nepal
I love Nepal

Everything else is same in tuple and list except mutable and immutable

In [4]:
#tuple has less time and space complexity than list
import time
import sys
L=list(range(100000))
T=tuple(range(100000))
start= time.time()
for i in L:
  i*10
print("List time= ",time.time()-start)
start= time.time()
for i in T:
  i*10
print('Tuple time= ',time.time()-start)
print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List time=  0.011878490447998047
Tuple time=  0.0163118839263916
List size 800056
Tuple size 800040

In [9]:
#tuple unpacking
a,b,c,d=(1,2,3,4)
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [10]:
#tuple unpacking
a,b,c=(1,2,3,4)
print(a)
print(b)
print(c)

ValueError: too many values to unpack (expected 3)

In [12]:
#swaping numbers
a=1
b=2
a,b=b,a
print(a)
print(b)

2
1

In [14]:
a,b,*other=(1,2,3,4,5,6,7)
print(a)
print(b)
print(other) #use * as pointer to store all the elements to store as list

1
2
[3, 4, 5, 6, 7]

# **Sets**
a set is unordered collection of item, where as list and tuple are ordered \\
no duplicate item \\
no immutable data item inside a set \\

In [15]:
s={}
print(s)
print(type(s))

{}
<class 'dict'>

In [17]:
#creating a null set like above gives dictionary data type
#so to create a null set
se=set()
print(se)
print(type(se))

set()
<class 'set'>

In [16]:
s1={1,2,3}
print(s1)
print(type(s1))

{1, 2, 3}
<class 'set'>

In [18]:
s2={1,2,3,{1,2,3,4}} #2d set, cant make because we cannot have a mutable data type inside of set
print(s2)

TypeError: unhashable type: 'set'

In [19]:
s2={1,2,3,[1,2,3,4]} #cant make because we cannot have a mutable data type inside of set
print(s2)

TypeError: unhashable type: 'list'

In [20]:
s2={1,2,3,(1,2,3,4)} #we can have immutable data type inside a set and tuples are immutable
print(s2)

{(1, 2, 3, 4), 1, 2, 3}

In [24]:
s3={1,4,5,'hello',True,4,5} #cannot have duplicate value and true==1
print(s3)

{1, 4, 5, 'hello'}

In [27]:
#unordered
sets={1,100,2,0.9,(1,2,3,4),'hello'}
print(sets)
#here we can see that the elements are arranged,i.e not in the same order as input data

{0.9, 1, 2, (1, 2, 3, 4), 100, 'hello'}

In [30]:
#type conversion of list or order pair into set
s4=set([1,2,3,4]) #list
print(s4)
print(type(s4))
s5=set((1,2,3,4,5)) #tuple
print(s5)
print(type(s5))

{1, 2, 3, 4}
<class 'set'>
{1, 2, 3, 4, 5}
<class 'set'>

In [31]:
s4

{1, 2, 3, 4}

In [33]:
s4[0] #no concept of indeing

TypeError: 'set' object is not subscriptable

In [36]:
s4={1,2,3,4}
#change 1 to 100
s4[0]=100
print(s4)
# we cannot change the elements of the set

TypeError: 'set' object does not support item assignment

In [37]:
#add
s4

{1, 2, 3, 4}

In [39]:
s4.add(100)
print(s4)

{1, 2, 3, 100, 4}

In [43]:
s4.update([1000,2000,30000,4]) #used to add multiple elements
print(s4)

{8000, 1, 2, 3, 100, 4, 1000, 9000, 2000, 30000, 46000}

In [44]:
s4.update((9000,8000,30000,46000))
print(s4)

{8000, 1, 2, 3, 100, 4, 1000, 9000, 2000, 30000, 46000}

In [46]:
s=[1,2,3,4,5]
print(s)
del s
print(s) #here we have deleted entire set s, so we cannot find any set s

[1, 2, 3, 4, 5]

NameError: name 's' is not defined

In [50]:
s1={1,2,3,4}
del s1[0]
print(s1)
#we cannot delete a single element, as concept of indexing is not valid for sets

TypeError: 'set' object doesn't support item deletion

In [51]:
s1

{1, 2, 3, 4}

In [53]:
s1.discard(2) # we can use discard to remove elements from the list
print(s1)

{1, 3, 4}

In [55]:
s1.remove(4) #similar to discard
print(s1)

{1, 3}

In [58]:
#but if you try to discard any element that is not present in the set, it will not give any error, but remove will give
s1.discard(50) #here 50 is not on the list

In [57]:
s1.remove(50)

KeyError: 50

In [59]:
s1

{1, 3}

In [63]:
s1.pop() #remove the first element of the set

3

In [64]:
s1

set()

In [66]:
s1.clear()
print(s1) #same as del, but only delets the elements of the set not the set

set()

In [67]:
#Set operations

In [68]:
#Union
s1={1,2,3,4,5}
s2={1,5,10,15,20,4}
print(s1|s2)

{1, 2, 3, 4, 5, 10, 15, 20}

In [86]:
s1.union(s1)
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 10, 15, 20}
{1, 4, 5, 20, 10, 15}

In [69]:
#intersection
s1&s2

{1, 4, 5}

In [70]:
#difference
s1-s2

{2, 3}

In [72]:
s2-s1

{10, 15, 20}

In [73]:
#symmetric difference
s1 ^ s2 #print everything except common

{2, 3, 10, 15, 20}

In [74]:
#membership test
1 in s1

True

In [75]:
1 not in s1

False

In [78]:
#iteration
for i in s2:
  print(i)

1
4
5
20
10
15

In [83]:
#len,sum,min,max,sorted
s={3,1,4,5,2,7,100}
print(s)
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s,reverse=True))

{1, 2, 3, 4, 5, 100, 7}
7
122
1
100
[100, 7, 5, 4, 3, 2, 1]