<a href="https://colab.research.google.com/github/ichhitsapkota143/Machine-Learning/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Frozen sets**
They are immutable sets

In [ ]:
fs1=frozenset([1,2,3]) #list
fs2=frozenset((100,200,300)) #tupple
fs3=frozenset({10,20,30}) #set
print(fs1)
print(type(fs1))
print(fs2)
print(type(fs2))
print(fs3)
print(type(fs3))

frozenset({1, 2, 3})
<class 'frozenset'>
frozenset({200, 100, 300})
<class 'frozenset'>
frozenset({10, 20, 30})
<class 'frozenset'>

In [ ]:
frozenset(fs1|fs2)

frozenset({1, 2, 3, 100, 200, 300})

In [ ]:
frozenset(fs1&fs2)

frozenset()

In [ ]:
#2d frozen set
fsd=frozenset([1,2,[3,4]])

TypeError: unhashable type: 'list'

In [ ]:
#we cannt make 2d frozen sets, cuz same as set they cannot have mutable elements

In [ ]:
#2d frozen set
fsd=frozenset((1,2,(3,4)))
fsd

frozenset({(3, 4), 1, 2})

In [ ]:
#similar to list, as tuple is immutable, it can have immutable set

In [ ]:
fsf=frozenset((1,2,frozenset((3,4))))
fsf

frozenset({1, 2, frozenset({3, 4})})

In [ ]:
type(fsf)

frozenset

# ***Dictionary***
Dictionary is a collection of keys values, used to store data values like a map,which unlike other data types hold only a single value as element
i.e it has a key value pair

In [ ]:
dic={1:'helllo',2:'world'}

In [ ]:
print(dic)
print(type(dic))

{1: 'helllo', 2: 'world'}
<class 'dict'>

In [ ]:
#dictionary are mutable, no indexing, keys cant be duplicate and mutable

In [ ]:
#empty dict
d={}
print(d)
print(type(d))

{}
<class 'dict'>

In [ ]:
#1d dict
dict={1:'hello',2:'world'}
print(dict)
print(type(dict))

{1: 'hello', 2: 'world'}
<class 'dict'>

In [ ]:
#mixed key dictionary
d2={(1,2,3):1,'hello':'world'}
d2

{(1, 2, 3): 1, 'hello': 'world'}

In [ ]:
#2d dictionary
d={
    'name':'Ichhit',
    'college':'Cosmos',
    'sem':4,
    'subjects':{
        'dsa':50,
        'maths':90,
        'english':76
    }
}

In [ ]:
#here subject is another dictionary inside a dict d

In [ ]:
d

{'name': 'Ichhit',
 'college': 'Cosmos',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 90, 'english': 76}}

In [ ]:
d.keys()

dict_keys(['name', 'college', 'sem', 'subjects'])

In [ ]:
#dictionary using type conversion
d4= dict([('name','Ichhit'),('college','Cosmos')])
d4

{'name': 'Ichhit', 'college': 'Cosmos'}

In [ ]:
#duplicate keys
d5={'name':'Ichhit','name':'Cosmos'}
d5

{'name': 'Cosmos'}

In [ ]:
#duplicate keys are not allowed

In [ ]:
#mutable items as key are not allowed, so list are not allowed as keys but tuple are
d6={'name':'Ichhit',[1,2,3]:5}

TypeError: unhashable type: 'list'

In [ ]:
my_dict={'name':'Ichhit','college':'Cosmos' }

In [ ]:
my_dict[0]

KeyError: 0

In [ ]:
#not allowed becauses no indexing on a dictionary

In [ ]:
my_dict['name'] #passing corresponding key to get value

'Ichhit'

In [ ]:
my_dict['college']

'Cosmos'

In [ ]:
#get function
my_dict.get('name')

'Ichhit'

In [ ]:
my_dict.get('college')

'Cosmos'

In [ ]:
#adding new element to the dict
my_dict

{'name': 'Ichhit', 'college': 'Cosmos'}

dict_name[key]=value

In [ ]:
my_dict['gender']='Male'

In [ ]:
my_dict

{'name': 'Ichhit', 'college': 'Cosmos', 'gender': 'Male'}

In [ ]:
my_dict['age']=23

In [ ]:
my_dict

{'name': 'Ichhit', 'college': 'Cosmos', 'gender': 'Male', 'age': 23}

In [ ]:
#removing the key value pair
#pop
#popitem
#del
#clear

In [ ]:
my_dict

{'name': 'Ichhit', 'college': 'Cosmos', 'gender': 'Male', 'age': 23}

In [ ]:
#pop
my_dict.pop('gender')
my_dict

{'name': 'Ichhit', 'college': 'Cosmos', 'age': 23}

In [ ]:
#popitem
my_dict.popitem()
my_dict
#it deletes last item in the dictionary

{'name': 'Ichhit'}

In [ ]:
#del
del my_dict['name']
my_dict
#similar to pop

{}

In [ ]:
#clear
print(d)
d.clear()
print(d)

{'name': 'Ichhit', 'college': 'Cosmos', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 90, 'english': 76}}
{}

In [ ]:
#2d dictionary
d={
    'name':'Ichhit',
    'college':'Cosmos',
    'sem':4,
    'subjects':{
        'dsa':50,
        'maths':90,
        'english':76
    }
}

In [ ]:
d

{'name': 'Ichhit',
 'college': 'Cosmos',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 90, 'english': 76}}

In [ ]:
#access item from 2-d dict
d['name']

'Ichhit'

In [ ]:
d['subjects']['dsa'] #to obtain the mark from 2d dict value of dsa

50

In [ ]:
#adding a new element
d['subjects']['dsap']=100
d

{'name': 'Ichhit',
 'college': 'Cosmos',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 90, 'english': 76, 'dsap': 100}}

In [ ]:
#removing
del d['subjects']['maths']
d

{'name': 'Ichhit',
 'college': 'Cosmos',
 'sem': 4,
 'subjects': {'dsa': 50, 'english': 76, 'dsap': 100}}

In [ ]:
#editing key-value pair
d

{'name': 'Ichhit',
 'college': 'Cosmos',
 'sem': 4,
 'subjects': {'dsa': 50, 'english': 76, 'dsap': 100}}

In [ ]:
d['sem']=6
d

{'name': 'Ichhit',
 'college': 'Cosmos',
 'sem': 6,
 'subjects': {'dsa': 50, 'english': 76, 'dsap': 100}}

In [ ]:
d['subjects']['dsa']=80
d

{'name': 'Ichhit',
 'college': 'Cosmos',
 'sem': 6,
 'subjects': {'dsa': 80, 'english': 76, 'dsap': 100}}

In [ ]:
#dictionary operation
#membership
#iteration
d

{'name': 'Ichhit',
 'college': 'Cosmos',
 'sem': 6,
 'subjects': {'dsa': 80, 'english': 76, 'dsap': 100}}

In [ ]:
'Ichhit' in d #doesnt care about value

False

In [ ]:
'name' in d #membership operator works for keys

True

In [ ]:
#iteration
d={'name':'Ichhit','gender':'Male','age':23}
for i in d:
  print(i)
#prints the key
  print(d[i])

name
Ichhit
gender
Male
age
23

In [ ]:
d

{'name': 'Ichhit', 'gender': 'Male', 'age': 23}

In [ ]:
#lenght
len(d)

3

In [ ]:
#sorted
print(d)
sorted(d)

{'name': 'Ichhit', 'gender': 'Male', 'age': 23}

['age', 'gender', 'name']

In [ ]:
#min based on ascii
min(d)

'age'

In [ ]:
#max
max(d)

'name'

In [ ]:
#ietms
d.items()
#gives all the elements in list of tuple of key value pair

dict_items([('name', 'Ichhit'), ('gender', 'Male'), ('age', 23)])

In [ ]:
#keys
d.keys()

dict_keys(['name', 'gender', 'age'])

In [ ]:
d.values()

dict_values(['Ichhit', 'Male', 23])

In [ ]:
#update
d={'name':'Ichhit','gender':'Male','age':23}
print(d)
d.update({'name':'Balen'})
print(d)

{'name': 'Ichhit', 'gender': 'Male', 'age': 23}
{'name': 'Balen', 'gender': 'Male', 'age': 23}

In [ ]:
#Dictionary comprehension

{key: value for vars in iterable}

In [ ]:
#create a dict with keys 1 to 10 and value is square of that number
d={i:i*i for i in range(1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#create a new dictionary using existing dict
#convert m to km
distance={'kathmandu':1000,'Bhaktapur':2000,'Lalitpur':500}
new_dict={i:distance[i]/1000 for i in distance if i!='Bhaktapur'}
new_dict

{'kathmandu': 1.0, 'Lalitpur': 0.5}

In [ ]:
{key:value/1000 for (key,value) in distance.items()}

{'kathmandu': 1.0, 'Bhaktapur': 2.0, 'Lalitpur': 0.5}

In [ ]:
#using zip
days=['Sunday','Monday','Tuesday'] #keys
temp=[30.5,40,29]  #values
{key:value for(key,value) in zip(days,temp)}

{'Sunday': 30.5, 'Monday': 40, 'Tuesday': 29}

In [ ]:
#nested comprehension
#print table of numbers from 2 to 4
{i:{j:i*j for j in range(1,11)}for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

# **Function in Python**

In [36]:

def is_even(num):
  #documentation
  """
This function returns if a given number is odd or even
input-any valid integer
output-odd/even
created on 13th april 2025
  """
  if num%2==0:
    print(num,' is a even number')
  else:
    print(num, 'is a odd number')
is_even(10)
is_even(5)

10  is a even number
5 is a odd number

In [ ]:
for i in range(1,10):
  x= is_even(i)

1 is a odd number
2  is a even number
3 is a odd number
4  is a even number
5 is a odd number
6  is a even number
7 is a odd number
8  is a even number
9 is a odd number

In [37]:
is_even.__doc__

'\nThis function returns if a given number is odd or even \ninput-any valid integer\noutput-odd/even\ncreated on 13th april 2025\n  '

In [ ]:
is_even('Hello')

TypeError: not all arguments converted during string formatting

In [2]:
def is_even(num):
  if type(num)==int:
            if num%2==0:
              print(num,' is a even number')
            else:
              print(num, 'is a odd number')
  else:
    print("Wrong choice of data")
is_even(10)
is_even(5)
is_even("hello")

10  is a even number
5 is a odd number
Wrong choice of data

In [3]:
#types of argument
#default argument
#positional argument
#keyword argument

In [6]:
#default argument
def power(a,b):
  return a**b

In [7]:
power(2,3)

8

In [8]:
power(2)

TypeError: power() missing 1 required positional argument: 'b'

In [9]:
#default argument
def power(a,b=2):
  return a**b

In [10]:
power(3)

9

In [11]:
#default argument
def power(a=3,b):
  return a**b

SyntaxError: non-default argument follows default argument (<ipython-input-11-ef98b77b5b21>, line 2)

In [12]:
#if we want to make an argument default, all the arguments beside that argument should be made default

In [13]:
#positional argument
power(2,3)

8

In [15]:
#keyword argument
#it has greater precedence than posiotional argument
power(b=3,a=2)

8

In [17]:
# *args and **kwargs, used to pass variable lenth of arguments in the function

In [24]:
#*args
#allows us to pass a variable number of non-keyword arguments to a function
def multiple(*args):
  product=1
  for i in args:
    product*=i
  print(args)
  return product

In [19]:
multiple(1,2,3,,4)

24

In [25]:
multiple(5,6,7,7,8,8,9,9)

(5, 6, 7, 7, 8, 8, 9, 9)

7620480

In [26]:
#args creates a tuple of the input

In [38]:
#**kwargs
#allows us to pass a variable number of keyword arguments to a function means key-value pair

In [40]:
def display(**kwargs):
  for(key,value) in kwargs.items():
    print(key,'->',value)

In [41]:
display(india='delhi',nepal='kathmandu')

india -> delhi
nepal -> kathmandu